@import "tailwindcss";

/** ----------------------------*
*           NORMALIZE           *
* ----------------------------- */

* {
    box-sizing: border-box;
}

/* globals.css */
.font-cinzel {
  font-family: var(--font-cinzel-decorative), serif;
}

.font-mulish {
  font-family: var(--font-mulish), serif;
}

.font-work {
  font-family: var(--font-work-sans), serif;
}

a,
button,
[type="button"],
[type="submit"],
[role="button"] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    font-family: inherit;
    border-style: none;
    background-color: transparent;
}

address {
    font-style: normal;
}

.react-share__ShareButton {
    display: flex;
}


/* body {
    width: 100%;
    background-image: url('/assets/bg-homepage.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
} */