@import "tailwindcss";

/** ----------------------------*
*           NORMALIZE           *
* ----------------------------- */

* {
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

/* globals.css */
.font-cinzel {
  font-family: var(--font-cinzel-decorative), serif;
}

.font-mulish {
  font-family: var(--font-mulish), serif;
}

.font-work {
  font-family: var(--font-work-sans), serif;
}

a,
button,
[type="button"],
[type="submit"],
[role="button"] {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: inherit;
    border-style: none;
    background-color: transparent;
}

address {
    font-style: normal;
}

.react-share__ShareButton {
    display: flex;
}
